:root {
    --background-color: #141414;
    --text-color: #fff;
    --header-background-color: #222;
    --header-hover-color: #1abc9c;
    --icon-button-background: #e50914;
    --course-sidebar-background: #181818;
    --course-lecture-background: #222;
    --course-lecture-hover: #333;
    --button-background: #e50914;
    --button-hover: #d40813;
    --search-bar-background: #333;
    --search-bar-border: #333;
    --notification-background: #ffdddd;
    --notification-color: #d8000c;
    --popup-background: #f8d7da;
    --popup-border: #f5c6cb;
    --popup-color: #721c24;
}

/* Light mode variables */
:root.light-mode {
    --background-color: #fff;
    --text-color: #000;
    --header-background-color: #f1f1f1;
    --header-hover-color: #1abc9c;
    --icon-button-background: #e50914;
    --course-sidebar-background: #f9f9f9;
    --course-lecture-background: #f1f1f1;
    --course-lecture-hover: #ddd;
    --button-background: #e50914;
    --button-hover: #d40813;
    --search-bar-background: #fff;
    --search-bar-border: #ccc;
    --notification-background: #f8d7da;
    --notification-color: #721c24;
    --popup-background: #f8d7da;
    --popup-border: #f5c6cb;
    --popup-color: #721c24;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

h2, h3 {
    margin: 0;
    padding: 10px;
    background-color: var(--header-background-color);
    color: var(--text-color);
    cursor: pointer;
}

h2 {
    background-color: var(--header-background-color);
}

h3:hover {
    background-color: var(--header-hover-color);
}

.icon-button {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: var(--icon-button-background);
    color: var(--text-color);
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
}

.icon-button i {
    font-size: 20px;
}

.course-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
    transition: margin-left 0.3s ease-in-out;
}

.course-sidebar {
    width: 250px;
    background: var(--course-sidebar-background);
    display: block;
    overflow-y: auto;
    transition: width 0.3s ease-in-out, transform 0.3s ease-in-out;
    padding-bottom: 10px;
}

.course-sidebar.hidden {
    display: none;
}

.course-section, .course-lectures {
    padding: 10px;
}

.course-lecture {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: var(--course-lecture-background);
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.course-lecture:hover {
    background-color: var(--course-lecture-hover);
    transform: translateY(-2px);
}

.button-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.download-button {
    display: inline-block;
    padding: 8px 12px;
    background-color: var(--button-background);
    color: var(--text-color);
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s;
}

.download-button:hover {
    background-color: var(--button-hover);
}


.course-lecture span:first-child {
    font-weight: bold;
}

.course-content {
    flex: 1;
    padding: 20px;
    background-color: var(--background-color);
    overflow-y: auto;
    transition: padding-left 0.3s ease-in-out;
}

.video-container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    background-color: #000;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

#player {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
}

.video-overlay.show {
    display: block;
}

@media (max-width: 768px) {
    .icon-button {
        top: 15px;
        left: 15px;
        font-size: 20px;
    }

    .icon-button.theme-toggle {
        left: 60px; /* Space for both buttons */
    }

    .video-container {
        width: 100%;
        border-radius: 10px;
    }

    .course-lecture {
        font-size: 18px;
        padding: 15px;
        margin-bottom: 15px;
    }

    .button-container {
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 14px;
    }

    .icon-button {
        top: 10px;
        left: 10px;
        padding: 8px;
        font-size: 16px;
    }

    .icon-button.theme-toggle {
        left: 50px;
    }

    .video-container {
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }

    .course-lecture {
        font-size: 16px;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 8px;
        background-color: #333;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    }

    .button-container {
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}

#search-bar {
    width: calc(85% - 20px);
    padding: 15px;
    margin: 8px;
    border: 1px solid var(--search-bar-border);
    border-radius: 10px;
    background-color: var(--search-bar-background);
    color: var(--text-color);
}

.notification {
    display: none;
    background-color: var(--notification-background);
    color: var(--notification-color);
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid var(--notification-color);
}

.notification.show {
    display: block;
}

.popup-notification {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: var(--popup-background);
    color: var(--popup-color);
    padding: 15px;
    border-radius: 8px;
    border: 1px solid var(--popup-border);
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    font-family: Arial, sans-serif;
    text-align: center;
    max-width: 300px;
    width: 100%;
    box-sizing: border-box;
    transition: opacity 0.5s ease;
}

.popup-notification.fade-in {
    opacity: 1;
}

.popup-notification.fade-out {
    opacity: 0;
}
:root {
    --plyr-color-main: #e50914;
    --plyr-video-control-color: #fff;
    --plyr-video-control-background: #333;
    --plyr-control-hover: #d40813;
}
.icon-button.theme-toggle {
    right: 10px; /* Adjust the position as needed */
    left: auto; /* Ensure it's not on the left side */
    background-color: var(--icon-button-background);
    color: var(--text-color);
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
}

.icon-button.theme-toggle i {
    font-size: 20px;
}
/* list */

.course-section {
    margin-bottom: 10px;
}

.section-toggle {
    display: flex;
    align-items: center;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.section-toggle i {
    margin-right: 10px;
    font-size: 20px;
    transition: transform 0.3s ease;
}

.section-toggle:hover {
    background-color: #0056b3;
}

.section-toggle:focus {
    outline: none;
}

.hidden {
    display: none;
}
.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    display: flex;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.notification-text {
    margin-right: 10px;
}

.close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-left: auto;
}

.close-btn:hover {
    color: #ffdddd;
}
.search-result-message {
    background-color: var(--popup-background);
    color: var(--popup-color);
    padding: 15px;
    border-radius: 8px;
    border: 1px solid var(--popup-border);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    font-family: Arial, sans-serif;
    text-align: center;
    max-width: 100%;
    margin: 20px 0;
}
.button-style {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6600; /* Button background color */
    color: #fff; /* Button text color */
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
    cursor: pointer;
}

.button-style:hover {
    background-color: #fc0000; /* Button hover color */
    transform: translateY(-2px);
}

.button-style a {
    color: inherit;
    text-decoration: none;
}
